<h1>Help Anonymous Chat!</h1>

<ul class="card">
  <li>
    <input type="checkbox" name=""/>
    <a href="show.html">Select your age and name  </a>
    <span class="pomodoro-estimate">4 Pomodoros</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
Select Your Health Problem
    <span class="pomodoro-estimate">3 Pomodoros</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
   Select your social worker 
    <span class="pomodoro-estimate">2 Pomodoros</span>
  </li>
  </ul>

<div id="new-todo-block">
  <input class="text-input" id="new-todo-description" type="text" placeholder="Add a new todo...">
  <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Pomodoro estimate...">
  <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
</div>
